[submodule "services/charts/prysm"]
	path = services/charts/prysm
	url = https://github.com/eskapaid/prysm-helm

[submodule "services/charts/lighthouse"]
	path = services/charts/lighthouse
	url = https://github.com/eskapaid/lighthouse-helm

[submodule "services/charts/rocketpool"]
	path = services/charts/rocketpool
	url = https://github.com/eskapaid/rocketpool-helm
[submodule "services/charts/cluster-certs"]
	path = services/charts/cluster-certs
	url = https://github.com/eskapaid/cluster-certs-helm
